.payment-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    &:hover {
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
      }
  }
  
  .paymentimage{
    height: 600px;
    background-image: url("../images/moviepaymentbackground.jpg");
  }

  .payment-container h2 {
    color: #333;
  }
  
  .payment-container form {
    display: flex;
    flex-direction: column;
  }
  
  .payment-container label {
    margin-bottom: 5px;
  }
  
  .payment-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .payment-container .error {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .payment-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .payment-container button:hover {
    background-color: #0056b3;
  }
  
  .payment-container a {
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
  }
  